<% include ./partials/header %>

<h1 id="searchTitle">Search List</h1>


<div class="container" id="searchField">
    <form action="/search" method="POST">
        <input type="text" name="searchField" placeholder="Search">
        <button class="btn btn-primary">Search</button>
    </form>
</div>



<div class="container">
    <table>
        <tr>
            <th><button class="button1" id="firstname">First Name</button></th>
            <th><button class="button1" id="lastname">Last Name</button></th>
            <th><button class="button1" id="age">Age</button></th>
            <th><button class="button1" id="gender">Gender</button></th>
            <th><button class="button1" id="grade">Grade</button></th>
            <th><button class="button1" id="standard">Standard</button></th>
        </tr>
        <% userData.forEach(function(data){ %>
        <tr>
            <td><%= data.firstname %></td>
            <td><%= data.lastname%></td>
            <td><%= data.age%></td>
            <td><%= data.gender%></td>
            <td><%= data.grade%></td>
            <td><%= data.standard%></td>
        </tr>
        <% }) %>
    </table>
</div>
<br/>
<a href="/adduser">Add New User!!!</a>
<a href="/" class="btn btn-danger">Home</a>
<% include ./partials/footer %>